# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*.so

# Compiled Python files
*.pyc
*.pyo
*.pyd

# SQLite database
*.sqlite3

# Environment files
.env
*.log

# Virtual environments
env/
venv/

# IDE and editor files
.vscode/
*.swp

# System files
.DS_Store
Thumbs.db

# Media folder
media/

# Firebase JSON credentials
firbase/*.json
keyroute/keyroutevendor-firebase-adminsdk-fbsvc-40f50c4af4.json
keyroutevendor-firebase-adminsdk-fbsvc-40f50c4af4.json

# Ignore all settings.py files (in any folder)
*settings.py

# Ignore Django migrations (safe way)
bookings/migrations/
admin_panel/migrations/
notifications/migrations/
reviews/migrations/
users/migrations/
vendors/migrations/
keyroute/migrations/

# (optional safety) Also ignore any migration .py files directly
**/migrations/*.py
**/migrations/*.pyc
