# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.py[cod]
*.so


# Django migrations
*.sqlite3

# IDE and editor files
.vscode/
*.swp

# Environment files
.env
*.log

# Compiled Python files
.pyc
*.pyc
*.pyo
*.pyd

# Add this if not already present
__pycache__/
*.pyc


# System files
.DS_Store
Thumbs.db

env
venv

keyroute/settings.py


*settings.py


firbase/*.json
        

media

.env

keyroutevendor-firebase-adminsdk-fbsvc-40f50c4af4.json
keyroute/keyroutevendor-firebase-adminsdk-fbsvc-40f50c4af4.json